<div class="container">
	<div class="row">
		<div class="user-info">
	
			<h2> Log In </h2>
			<%= form_tag (login_path :id => 'login') do %>
				<%= label_tag :username %>
				<%= text_field_tag(:username) %>
				<%= label_tag :password %>
				<%= password_field_tag(:password) %>
				<%= submit_tag("Login") %>
			<% end %>
			</p>
		</div>
	</div>
</div>


