<h1> Log In </h1>

<!-- <%= form_for(@user) do |f| %> -->
	<%= form_tag("/sessions", method: "post") do %>
		<%= token_tag %>
	    <%= f.label :username %><br>
	    <%= f.text_field(:username, placeholder: '...username') %>

	  <%= f.label :password %><br>
	  <%= f.password_field(:password, placeholder: '...password') %>
	  <%= f.submit("Login") %>
	<% end %>
<!-- <% end %> -->