<%if current_user %>
<%else%>
	<div id="welcome">
	<%= render 'home/welcome' %>
	</div>
<%end%>

<div class="container">
	<div class="row">
		<div id="subheader">
			<div class="eight columns">
				<% if current_user %>
					<%= form_tag("/search", method: "get", :id => 'search') do %>
					<%= label_tag("Choose", "CHOOSE YOUR COMIC BOOK CHARACTER") %>
					<%= text_field_tag 'query', '', placeholder: '...Wolverine?', id: 'input' %>
					<%= submit_tag("Go!") %>
	
					<div id='search-error'>
					</div>

					<% end %>
				<% else %>
					<h5>Sign In or Log In To Start</h5>
				<% end %>

			</div>

			<div class="three columns">
				<button class="character-action" id="all-chars">SEE LIST OF PAST CHARACTERS PLAYED</button>
			</div>
		</div>
	</div>

	<div id="game-results">
		<div id="buttons">
			<p id="choose">CHOOSE AN ACTION TO START BUILDING OUT YOUR STORY</p>
			<button class="character-action" id="power-button">Use Power</button>
			<button class="character-action" id="friend-button">Call for Friends!</button>
			<button class="character-action" id="help-out-button">Help Out</button>
		</div>

		<div class="row">
			<div id="content" class="twelve columns">

				<%= render 'home/carousel' %>

				<div id="chosen-character" class="four columns">
				</div>

				<div id="opponent-character" class="four columns">
				</div>

				<div id="story-results" class="four columns">
				</div>
			</div>
		</div>
	</div>
</div>
</div>
