<div class="row">
	<div id="subheader" class: "twelve columns">
		<div class="nine columns">
				<%= form_tag("/search", method: "get", :id => 'search') do %>
				  <%= label_tag("Choose your comic book character:") %>
				  <%= text_field_tag 'query', '', placeholder: '...Wolverine?' %>
				  <%= submit_tag("Go!") %>
				<% end %>
		</div>

		<div class="three columns">
			<%=link_to "See all characters played", "characters" %>
		</div>
	</div>
</div>

<div class="row">
	<div class="chosen-character" class="two columns">
	</div>

	<div class="opponent-character" class="two columns">
	</div>

	<div class="story-results" class="four columns">
	</div>
</div>

<div class="row">
	<div id="character-index" class="twelve columns">
	</div>
</div>




<script>
	var characterCollection = new CharacterCollection(),
		router;	
	characterCollection.fetch().done(function(){
		router = new Router({
			collection: characterCollection, 
			$el: $('.character-index')
		});
		Backbone.history.start();
	});
</script>