<div class="row">
	<div id="subheader" class: "twelve columns">
		<div class="nine columns">
				<%= form_tag("/search", method: "get", :id => 'search') do %>
				  <%= label_tag("Choose your comic book character:") %>
				  <%= text_field_tag 'query', '', placeholder: '...Wolverine?' %>
				  <%= submit_tag("Go!") %>
				<% end %>
		</div>

		<div class="three columns">
			<%=link_to "See all characters played", "characters" %>
		</div>
	</div>
</div>

<div id="buttons">
	Choose an action to start building out your story:
	<button class="character-action" id="power-button">Use Power</button>
	<button class="character-action" id="friend-button">Call for Friends!</button>
	<button class="character-action" id="help-out-button">Help Out</button>
</div>

<div class="row">
	<div id="content" class="twelve columns">
			<div id="chosen-character" class="four columns">
			</div>

			<div id="opponent-character" class="four columns">
			</div>

			<div id="story-results" class="four columns">
			</div>
	</div>
</div>

<div class="row">
	<div id="character-index" class="twelve columns">
	</div>
</div>




