
<%= render 'home/navigation' %>
<% if current_user %>
	<p>You are logged in as <%=current_user.username%></p>
<% else %>
	NOTHING
<% end %>

<div id="home">

	<h1>Comic SmashUp</h1>

	<%= form_tag("/search", method: "get", :id => 'search') do %>
	  <%= label_tag("Choose your comic book character:") %>
	  <%= text_field_tag 'query', '', placeholder: '...Wolverine?' %>
	  <%= submit_tag("Go!") %>
	<% end %>

	<div class='chosen-character'>
		
	</div>

	<div class='opponent-character'>
		
	</div>

	<div id="buttons">
		<button class="character-action" id="power-button">Use Power</button>
		<button class="character-action" id="friend-button">Call for Friends!</button>
		<button class="character-action" id="help-out-button">Help Out</button>
	</div>

	<div class='story-results'>
		
	</div>

</div>