

<div class="row">
	<div id="subheader">
		<div class="eight columns">
			<%= form_tag("/search", method: "get", :id => 'search') do %>
			  <%= label_tag("Choose", "CHOOSE YOUR COMIC BOOK CHARACTER") %>
			  <%= text_field_tag 'query', '', placeholder: '...Wolverine?' %>
			  <%= submit_tag("Go!") %>
			<% end %>
		</div>

		<div class="errors">
				<h5><%= flash[:error] if flash[:error] %> </h5>
		</div>

		<div class="three columns">
			<button class="character-action" id="all-chars">See characters played?</button>
		</div>
	</div>
</div>

<div id="buttons">
	CHOOSE AN ACTION TO START BUILDING OUT YOUR STORY<br>
	<button class="character-action" id="power-button">Use Power</button>
	<button class="character-action" id="friend-button">Call for Friends!</button>
	<button class="character-action" id="help-out-button">Help Out</button>
</div>

<div class="row">
	<div id="content" class="twelve columns">

			<div id="chosen-character" class="four columns">
			</div>

			<div id="opponent-character" class="four columns">
			</div>

			<div id="story-results" class="four columns">
			</div>
	</div>
</div>


<!-- 				<img src="" width="100" height="auto" id="hitPic" /> -->