<h1><%= @character.name.capitalize %></h1>

<ul>
	<li><img width="200px" height="auto" src="<%=@character.image%>"></li>
	<li><%= @character.team %></li>
	<li><%= @character.powers %></li>
	<li><%= @character.friends %></li>
	<li><%= @character.enemies %></li>
	<li><%= @character.powers %></li>
</ul>