<!DOCTYPE html>
<html>
<head>
  <title>Comic SmashUp</title>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>
  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Combo' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<body>

	<div class="header">
		Comic Smashup
	</div>


<!-- 	 home scripts -->

	<script type='template' id='result-template'>
			<%= render 'home/results' %>
	</script>

	<script type='template' id='opponent-template'>
		<%= render 'home/opponent' %>
	</script>

	<script type='template' id='story-template'>
		<%= render 'home/story' %>
	</script>	

<!-- 	 character scripts -->



	<%= yield %>


</body>

</html>
