<!DOCTYPE html>
<html>
<head>
  <title>Comic SmashUp</title>	

  <%= stylesheet_link_tag    'application', media: 'all'  %>

  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Combo' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width", initial-scale=1, maximum-scale=1>
	
</head>

<div class="container">

</div>

<body>
	<div class="container">
		<div class="row">
			<header class="twelve columns">
				<div class="six columns">
					<h1>Comic Smash Up!</h1>
				</div>
				<div class="six columns">
					<%= render 'home/navigation' %>
				</div>
			</header>
		</div>		

		<div class="row">
			<div id="subheader">
				<div class="eight columns">
						<%= form_tag("/search", method: "get", :id => 'search') do %>
						  <%= label_tag("Choose", "CHOOSE YOUR COMIC BOOK CHARACTER") %>
						  <%= text_field_tag 'query', '', placeholder: '...Wolverine?' %>
						  <%= submit_tag("Go!") %>
						<% end %>
				</div>

				<div class="errors">
      				<h5><%= flash[:error] if flash[:error] %> </h5>
    			</div>

				<div class="three columns">
					<button class="character-action" id="all-chars">See characters played?</button>
				</div>
			</div>
		</div>

		<div id="game-area">
			<%= yield %>

			<ul class="characters">

			</ul>
			<script type='template' id='character-list-item-template'>
				<%= render 'home/character' %>
			</script>

					<!-- 	 home scripts -->
			<script type='template' id='result-template'>
				<%= render 'home/results' %>
			</script>

			<script type='template' id='opponent-template'>
				<%= render 'home/opponent' %>
			</script>

			<script type='template' id='story-template'>
				<%= render 'home/story' %>
			</script>
		</div>
	</div>
</body>

<%= javascript_include_tag 'application' %>
</html>
