<!DOCTYPE html>
<html>
<head>
  <title>Comic SmashUp</title>
  
	<script type='template' id='character-list-item-template'>
		<%= render 'characters/index' %>
	</script>	

  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>

  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Combo' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width", initial-scale=1, maximum-scale=1>


<!-- 	 home scripts -->
	<script type='template' id='result-template'>
			<%= render 'home/results' %>
	</script>

	<script type='template' id='opponent-template'>
		<%= render 'home/opponent' %>
	</script>

	<script type='template' id='story-template'>
		<%= render 'home/story' %>
	</script>	
</head>

<div class="container">
	<div class="row">
		<header class="twelve columns">
			<div class="six columns">
				<h1>Comic Smash Up!</h1>
			</div>
				<%= render 'home/navigation' %>
		</header>
	</div>
</div>

<body>
	<div class="container">
			<%= yield %>
		</div>
	</div>
</body>

</html>
