<!DOCTYPE html>
<html>
<head>
  <title>Comic SmashUp</title>
  
	<script type='template' id='character-list-item-template'>
		<%= render 'characters/index' %>
	</script>	

  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application' %>

  <link href='http://fonts.googleapis.com/css?family=Permanent+Marker|Combo' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>

<header>
	<div class="clearfix header">
		<div>Comic Smash Up!<div>
		<div><%= render 'home/navigation' %></div>
	</div>

	<div id="subheader">
		<div>
			<%= form_tag("/search", method: "get", :id => 'search') do %>
			  <%= label_tag("Choose your comic book character:") %>
			  <%= text_field_tag 'query', '', placeholder: '...Wolverine?' %>
			  <%= submit_tag("Go!") %>
			<% end %>
		</div>

		<div>
			<%=link_to "See all characters played", "characters" %>
		</div>
	</div>
</header>

<body>

<!-- 	 home scripts -->

	<script type='template' id='result-template'>
			<%= render 'home/results' %>
	</script>

	<script type='template' id='opponent-template'>
		<%= render 'home/opponent' %>
	</script>

	<script type='template' id='story-template'>
		<%= render 'home/story' %>
	</script>	



	<%= yield %>

</body>

</html>
